<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>     
      <section name="mailServer" type="System.Configuration.SingleTagSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="mailServerGroup" type="JackyFei.Config.CustomConfig.MailServerConfigurationHandler, JackyFei.Config"/>
      <section name="mailServerGroup2" type="JackyFei.Config.CustomConfig.MailServerSection, JackyFei.Config"/>
      <section name="greetingStrategy" type="JackyFei.Config.Strategy.GreetingConfigurationHandler, JackyFei.Config"/>
      <section name="traceFact" type="JackyFei.Config.ManagerConfig.GeneralConfigurationHandler, JackyFei.Config"/>
    </configSections>
  
    <!--1内置节点-->
    <appSettings>
       <add key="MailServer" value="mail.qq.net"/>
       <add key="MailUser" value="admin"/>
       <add key="MailPassword" value="123456"/>
      <!--4存储类型实例-->
      <add key="GreetingLanguage" value="English"/>
      <!--<add key="GreetingLanguage" value="Chinese" />-->
    </appSettings>
    
    <!--2自定义节点,内置处理程序-->
    <mailServer address="mail.qq.net" userName="admin" password="123456"/>
   
    <!--3自定义节点,自定义处理程序 IConfigurationSectionHandler--> 
    <mailServerGroup provider="www.edong.com">
       <mailServer client="forum.qq.net">
           <address>mail1.qq.net</address>
           <userName>admin</userName>
           <password>123..qaz</password>
       </mailServer>
       <mailServer client="blog.qq.com">
           <address>mail2.qq.net</address>
           <userName>root</userName>
           <password>123..qwe</password>
       </mailServer>
    </mailServerGroup>
  
    <!--3自定义节点,自定义处理程序 ConfigurationSection-->
    <mailServerGroup2 provider="www.edong.com2">
      <mailServers>
        <mailServer client="forum.yy.net" address="mail1.tt.net" userName="admin" password="123456"/>
        <mailServer client="blog.yy.net" address="mail2.tt.net" userName="root" password="123456"/>
      </mailServers>
    </mailServerGroup2>

    <!--4存储对象-->
    <!--<greetingStrategy type="JackyFei.Config.Strategy.ChineseGreeting, JackyFei.Config" />-->
    <greetingStrategy type="JackyFei.Config.Strategy.EnglishGreeting, JackyFei.Config"/>

    <!--5统一结点配置管理-->
  <traceFact type="JackyFei.Config.ManagerConfig.ConfigManager, JackyFei.Config">
    <forum name="论坛">
      <root url="http://forum.qq.net"/>
      <replyCount>20</replyCount>
      <pageSize>30</pageSize>
      <offlineTime>20</offlineTime>
    </forum>

    <blog name="博客">
      <root url="http://blog.qq.net"/>
      <urlMappings>
        <rewriteRule>
          <request>~/(d{4})/Default.aspx</request>
          <sendTo>~/BlogDetail.aspx?year=$1</sendTo>
        </rewriteRule>
      </urlMappings>
    </blog>

    <!-- 将上面的配置也包含进来 -->
    <mailServer address="mail.qq.net" userName="admin" password="123456"/>
    <greetingStrategy type="JackyFei.Config.Strategy.ChineseGreeting, JackyFei.Config"/>
  </traceFact>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

    


</configuration>
